<div class="main__right">
  <img
    class="sidebar__image"
    src="../images/about-me-image.png"
    width="272px"
    height="177px"
  />
  <h3 class="sidebar__title">About me</h3>
  <div class="sidebar__description">
    <p class="sidebar__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <h4 class="sidebar__posts-title">Top posts</h4>
  <ul class="sidebar__posts">
    <li class="posts__item">
      <h5 class="post__title">A day exploring the Alps</h5>
      <p class="post__comments">24 comments</p>
    </li>
    <li class="posts__item">
      <h5 class="post__title">American dream</h5>
      <p class="post__comments">19 comments</p>
    </li>
    <li class="posts__item">
      <h5 class="post__title">Cold winter days</h5>
      <p class="post__comments">15 comments</p>
    </li>
  </ul>
</div>