@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}

.header,
.main {
  margin: 0 auto;
  width: 66.25vw;
}

.header,
.header__list,
.footer__list,
.footer__media {
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 90px auto 100px;
  row-gap: 80px;
}

.header {
  margin-top: 84px;
  align-items: center;
}

.header__list {
  margin-top: 4px;
  column-gap: 55px;
}

.header__logo {
  margin-top: 1px;
}

.list,
.tags,
.media {
  list-style: none;
}

.tags {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

.list__item {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.list__link {
  color: #bdbdbd;
}

.list__link:visited {
  color: #333;
}

.list__link:active {
  color: #5c6bc0;
}

.tags__link {
  color: #bdbdbd;
}

.footer__link {
  display: inline-block;
  color: #fff;
}

.list__link:hover,
.tags__link:hover,
.footer__link:hover {
  cursor: pointer;
}

.list__link::after,
.tags__link::after,
.footer__link::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #5c6bc0;
  transition: width 0.4s ease-in-out;
}

.footer__list .list__link::after,
.footer__link::after {
  background-color: #fff;
}

.list__link:hover::after,
.tags__link:hover::after,
.footer__link:hover::after {
  width: 100%;
}

.list__link_decoration,
.tags__link_decoration,
.footer__link_decoration {
  text-decoration: none;
}

.list__link_uppercase {
  text-transform: uppercase;
}

.list__link-icon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  background: url(../images/icons/search_black.svg) no-repeat;
}

.footer__list .list__link-icon {
  background: url(../images/icons/search_white.svg) no-repeat;
}

.header__list .list__link-icon:hover {
  background: url(../images/icons/search_violet.svg) no-repeat;
}

.main,
.post {
  display: flex;
  flex-direction: column;
}

.main__post {
  align-items: center;
}

.label,
.button {
  justify-content: center;
  display: flex;
  align-items: center;
  outline: none;
  background: none;
}

.button {
  outline-offset: 1vh;
}

.button:hover {
  cursor: pointer;
  outline: 1px solid rgba(189, 189, 189, 0.3);
}

.button:active {
  outline: 1px solid #5c6bc0;
}

.button__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #5c6bc0;
}

.button__text_uppercase {
  text-transform: uppercase;
}

.label {
  padding: 6px 8px 7px;
  background: #5c6bc0;
}

.label:hover {
  cursor: pointer;
  background: #7f8dde;
}

.label:active {
  background: #4654a3;
}

.label__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #fff;
}

.post {
  box-shadow: 0 2px 30px rgba(21, 20, 53, 0.3);
  padding-bottom: 85px;
}

.post__header {
  width: 53vw;
  margin: 30px auto 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post__image {
  max-width: 100%;
  height: auto;
}

.post__image:hover {
  filter: brightness(85%);
}

.post__label {
  left: 16%;
  position: relative;
  align-self: flex-end;
}

.post__date {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #bdbdbd;
}

.post__title {
  margin-top: 23px;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.012em;
}

.post__title::after {
  margin-top: 39px;
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #bdbdbd1a;
}

.post__description {
  width: 53vw;
  margin-bottom: 55px;
  font-size: 16px;
  letter-spacing: 0.005em;
  font-weight: 400;
  line-height: 26px;
}

.post__float > .post__description {
  letter-spacing: 0.01em;
}

.post__float > .post__description:nth-of-type(1) {
  margin: -2px 0 20px;
}

.main__post:nth-of-type(2) > .post__description:nth-of-type(2) {
  margin-bottom: 20px;
}

.post__comment {
  width: 53vw;
  margin: -4px 0 39px;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #999;
}

.post__comment_italic {
  font-style: italic;
}

.post__aside-image {
  float: left;
  max-width: 100%;
  margin-right: 24px;
}

.post__thing {
  width: 52vw;
  margin: 0 0 28px 25px;
  position: relative;
  letter-spacing: 0.005em;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #999;
}

.post__thing::before {
  position: absolute;
  content: "";
  width: 2px;
  left: -20px;
  height: 100%;
  background: #bdbdbd1a;
}

.post__footer {
  width: 53vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tags__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.tags__link:active {
  color: #5c6bc0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c6bc0;
}

.footer__logo {
  margin: 76px auto 41px;
}

.footer__list {
  column-gap: 55px;
  margin-bottom: 50px;
}

.footer__list .list__link {
  color: #fff;
}

.footer__list .list__link::after,
.footer__link::after {
  background-color: #fff;
}

.footer__list .list__link-icon:hover {
  opacity: 0.4;
}

.footer__description,
.footer__copyright {
  width: 50%;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #9ca7e3;
}

.footer__description {
  margin-bottom: 45px;
}

.footer__description:nth-of-type(1)::before,
.footer__description:nth-of-type(1)::after {
  display: block;
  content: "";
  height: 2px;
  background: #4452a633;
}

.footer__description:nth-of-type(1)::before {
  margin-bottom: 45px;
}

.footer__description:nth-of-type(1)::after {
  margin-top: 45px;
}

.footer__copyright {
  margin-bottom: 42px;
}

.footer__link:active {
  color: #4452a6;
}

.media {
  column-gap: 25px;
  margin-bottom: 84px;
}

.media__item:hover {
  opacity: 0.5;
}

.media__link {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.media__link-facebook {
  background: url(../images/icons/facebook.svg) no-repeat;
}

.media__link-twitter {
  background: url(../images/icons/twitter.svg) no-repeat;
}

.media__link-instagram {
  background: url(../images/icons/instagram.svg) no-repeat;
}

.media__link-pinterest {
  background: url(../images/icons/pinterest.svg) no-repeat;
}

@media screen and (max-width: 1040px) {
  .header__list {
    column-gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .post__label {
    left: 130px;
  }

  .header,
  .main {
    width: 80vw;
  }

  .header__list {
    column-gap: 20px;
  }

  .post__thing::before {
    left: -17px;
  }
}

@media screen and (max-width: 670px) {
  .header__list {
    column-gap: 10px;
  }

  .post__aside-image {
    display: block;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header::before {
    position: absolute;
    content: "";
    background: #5c6bc0;
    height: 5px;
    width: 50%;
    top: 0;
    left: 0;
  }

  .post__footer {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .post__label {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }

  .main__post {
    position: relative;
  }

  .header__list > .list__item {
    display: none;
  }

  .header__list {
    width: 24px;
    height: 14px;
    background: url(../images/icons/burger_menu.svg);
  }

  .footer__list {
    column-gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 122px;
    height: 38px;
  }

  .post__header,
  .post__description,
  .post__footer,
  .post__comment,
  .post__thing {
    width: 75vw;
  }

  .header {
    margin-top: 29px;
  }

  .main {
    margin-top: 46px;
    margin-bottom: 61px;
    row-gap: 41px;
  }

  .header,
  .main {
    width: 93vw;
  }

  .post__header {
    margin: 40px 0 32px;
  }

  .post__description {
    margin-bottom: 34px;
  }

  .post__float > .post__description:nth-of-type(1) {
    margin-bottom: 25px;
  }

  .post__float > .post__description:nth-of-type(2) {
    margin-bottom: 23px;
  }

  .main__post:nth-of-type(2) > .post__header {
    margin-top: 32px;
  }

  .main__post:nth-of-type(2) > .post__description:nth-of-type(2) {
    margin-bottom: 25px;
  }

  .post {
    padding-bottom: 60px;
  }

  .post__title {
    font-size: 28px;
    line-height: 38px;
  }

  .post__title::after {
    margin-top: 35px;
  }

  .post__comment,
  .post__thing {
    font-size: 20px;
    line-height: 32px;
  }

  .post__thing {
    letter-spacing: 0.007em;
    margin: 0 0 24px 30px;
  }

  .post__thing::before {
    width: 4px;
  }

  .post__comment {
    margin-bottom: 30px;
  }

  .post__aside-image {
    margin-bottom: 35px;
  }

  .post__footer {
    row-gap: 35px;
  }

  .footer__logo {
    margin-top: 62px;
  }

  .footer__list {
    margin-bottom: 32px;
  }

  .footer__copyright {
    width: 75vw;
  }

  .footer__description {
    width: 75vw;
    margin-bottom: 28px;
  }

  .footer__description:nth-of-type(1)::before {
    margin-bottom: 25px;
  }

  .footer__description:nth-of-type(1)::after {
    margin-top: 25px;
  }

  .footer__list > .list__item:nth-of-type(5) {
    display: none;
  }

  .footer__media {
    margin-bottom: 78px;
  }

  @media screen and (max-width: 390px) {
    .footer__list {
      flex-direction: column;
      align-items: center;
      row-gap: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .header__logo {
      width: 114px;
      height: 36px;
    }

    .header,
    .main {
      width: 90vw;
    }

    .main {
      margin-bottom: 67px;
    }

    .post__header,
    .post__description,
    .post__footer,
    .post__comment,
    .post__thinh {
      width: 80vw;
    }

    .post__footer {
      margin-top: 26px;
    }

    .post__float > .post__description {
      letter-spacing: 0.005em;
    }

    .post__float > .post__description:nth-of-type(1) {
      margin-bottom: 50px;
    }

    .main__post:nth-of-type(3) > .post__description {
      margin-bottom: 5px;
    }

    .main__post:nth-of-type(2) > .post__description:nth-of-type(2) {
      margin-bottom: 50px;
    }

    .main__post:nth-of-type(2) > .post__description:nth-of-type(3) {
      margin-bottom: 8px;
    }

    .post__thing {
      margin-top: 10px;
      margin-left: 15px;
    }

    .footer__list {
      row-gap: 14px;
      margin-bottom: 35px;
    }

    .footer__logo {
      margin-bottom: 35px;
    }

    .footer__description {
      width: 80vw;
    }

    .footer__copyright {
      width: 90vw;
    }

    .footer__description:nth-of-type(1)::before {
      margin-bottom: 10px;
    }

    .footer__description:nth-of-type(1)::after {
      margin-top: 10px;
    }
  }
}
