* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(5, 140px);
  grid-gap: 20px;
}

.container__item:nth-of-type(1) {
  background: #da2032;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container__item:nth-of-type(2) {
  background: #8574b5;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container__item:nth-of-type(3) {
  background: #727cbc;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container__item:nth-of-type(4) {
  background: #8574b5;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container__item:nth-of-type(5) {
  background: url(../images/logo.svg) no-repeat;
  background-position: center;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container__item:nth-of-type(6) {
  background: #b84367;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container__item:nth-of-type(7) {
  background: #8574b5;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container__item:nth-of-type(8) {
  background: #b84367;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.container__item:nth-of-type(9) {
  background: #da2032;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container__item:nth-of-type(10) {
  background: #727cbc;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container__item:nth-of-type(11) {
  background: #8574b5;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container__item:nth-of-type(12) {
  background: #b84367;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.container__item:nth-of-type(13) {
  background: #727cbc;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.container__item:nth-of-type(14) {
  background: #8574b5;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.container__item:nth-of-type(15) {
  background: #da2032;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

.container__item:nth-of-type(16) {
  background: #da2032;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.container__item:nth-of-type(17) {
  background: #b84367;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
