* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(140px, 240px));
  grid-template-rows: repeat(5, 140px);
  grid-gap: 20px;
  margin: 20px 90px 0;
}

.container__item:nth-of-type(1) {
  background: #da2032;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.container__item:nth-of-type(2) {
  background: #8574b5;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container__item:nth-of-type(3) {
  background: #727cbc;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.container__item:nth-of-type(4) {
  background: #8574b5;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.container__item:nth-of-type(5) {
  background: url(../images/logo.svg) no-repeat;
  background-position: center;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.container__item:nth-of-type(6) {
  background: #b84367;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.container__item:nth-of-type(7) {
  background: #8574b5;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.container__item:nth-of-type(8) {
  background: #b84367;
  grid-column: 5 / 6;
  grid-row: 2 / 4;
}

.container__item:nth-of-type(9) {
  background: #da2032;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.container__item:nth-of-type(10) {
  background: #727cbc;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.container__item:nth-of-type(11) {
  background: #8574b5;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.container__item:nth-of-type(12) {
  background: #b84367;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.container__item:nth-of-type(13) {
  background: #727cbc;
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}

.container__item:nth-of-type(14) {
  background: #8574b5;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.container__item:nth-of-type(15) {
  background: #da2032;
  grid-column: 4 / 6;
  grid-row: 4 / 6;
}

.container__item:nth-of-type(16) {
  background: #da2032;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.container__item:nth-of-type(17) {
  background: #b84367;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}
