<header>
  <h3 class="header__title">Minimø</h3>
  <ul class="sections">
    <li class="header__sections-item">
      <a class="header__sections-link">Lifestyle</a>
    </li>
    <li class="header__sections-item">
      <a class="header__sections-link">Photodiary</a>
    </li>
    <li class="header__sections-item">
      <a class="header__sections-link">Music</a>
    </li>
    <li class="header__sections-item">
      <a class="header__sections-link">Travel</a>
    </li>
  </ul>
  <img
    class="header__cover-image"
    src="../images/cover-image.png"
    width="1060px"
    height="508px"
  />
</header>