<footer>
  <ul class="sections">
    <li class="footer__sections-item">
      <a class="footer__sections-link">Terms and conditions</a>
    </li>
    <li class="footer__sections-item">
      <a class="footer__sections-link">Privacy</a>
    </li>
  </ul>
</footer>