<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Вакансия Frontend-разработчик</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <main>
      <div>
        <div>
          Теги: <a href="#">разработка ПО</a>,
          <a href="#">frontend разработка</a>
        </div>
        <h1>Frontend-разработчик</h1>
        <p>
          Мы компания DigitalOmsk, занимаемся созданием веб-сервисов для крупных
          компаний.
        </p>
        <p>
          Нам нужен тот, кто виртуозно создает сложные и быстрые
          frontend-приложения.<br />
          Вжух — и сервис готов!
        </p>
        <h2>Требования к кандидату</h2>
        <div>
          (выделенные <span>жёлтым</span> цветом пункты не обязательны, но будут
          вашими преимуществами)
        </div>
        <ul>
          <li>
            уверенный опыт статической верстки <span>HTML5/CSS</span>:
            <ul>
              <li>не менее 5 проектов в портфолио;</li>
              <li>
                pixel-perfect верстка на <span>5+</span>, глядя на которую
                хочется плакать от счастья;
              </li>
            </ul>
          </li>
          <li>виртуозные знания <span>ECMAScript 6</span>;</li>
          <li>знание <span>Git</span>;</li>
          <li>опыт работы с <span>REST API</span>;</li>
          <li>опыт работы с <span>GraphQL</span>;</li>
          <li>навыки конфигурации <span>Webpack</span> и <span>Gulp</span>;</li>
          <li>
            опыт работы с препроцессорами (<span>Stylus</span>,
            <span>SASS</span> или <span>LESS</span>);
          </li>
          <li>
            опыт разработки анимаций в интерфейсах:
            <ul>
              <li>анимация средствами <span>JS</span> и <span>CSS</span>;</li>
              <li>умение работать с <span>Canvas</span>;</li>
              <li>умение работать с <span>WebGL</span>;</li>
            </ul>
          </li>
          <li>умение работать с шаблонизаторами;</li>
          <li>
            опыт backend-разработки (особенно актуально: <span>NodeJS</span> и
            <span>Python</span>);
          </li>
          <li>2+ года опыта коммечреской разработки.</li>
        </ul>
        <h2>Обязанности</h2>
        <ul>
          <li>проектирование архитектуры веб-продуктов;</li>
          <li>разработка сайтов и сервисов;</li>
          <li>развитие и поддержка существующих сайтов и сервисов;</li>
          <li>
            разработка дизайн-системы компонентов интерфейса вместе с
            дизайнером;
          </li>
          <li>активное участие в улучшениях внутренних процессов компании.</li>
        </ul>
        <h3>Как пройти собеседование?</h3>
        <div>
          <p>
            Нужно выполнить <a href="#">тестовое задание</a> и прислать его
            вместе с резюме на почту
            <a href="mailto: digital-company@gmail.com"
              >digital-company@gmail.com</a
            >
          </p>
          <p>Ждём вас!</p>
        </div>
      </div>
    </main>
  </body>
</html>
