<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>02-workshop</title>
  </head>
  <body>
    <main>
      <h3 class="main__title">Skills</h3>
      <ul class="main__content">
        <li class="main__content__item">
          <h4 class="main__content__item__title">Communication</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
        <li class="main__content__item">
          <h4 class="main__content__item__title">Creativity</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
        <li class="main__content__item">
          <h4 class="main__content__item__title">Teamwork</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
        <li class="main__content__item">
          <h4 class="main__content__item__title">Organization</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
        <li class="main__content__item">
          <h4 class="main__content__item__title">Leadership</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
        <li class="main__content__item">
          <h4 class="main__content__item__title">Teamplayer</h4>
          <div class="main__content__item__progress-bar"></div>
        </li>
      </ul>
    </main>
  </body>
</html>
