body {
  margin: 0;
}

.header,
.main {
  width: 1250px;
  margin: 0 auto;
}

.header {
  padding: 120px 0 100px 0;
  border-bottom: 1px solid #cecdce;
}

.header__title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
  color: #434244;
  margin: 0;
}

.header__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: normal;
  color: #434244;
  margin: 15px 0 0 0;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.contacts__link {
  color: #9c9da0;
  text-decoration: none;
}

.header__contacts {
  margin-top: 30px;
}

.main {
  padding: 40px 0 510px 0;
  font-size: 0;
}

.main__left,
.main__right {
  display: inline-block;
  vertical-align: top;
}

.main__left {
  width: 425px;
}

.main__right {
  box-sizing: border-box;
  width: 825px;
  padding-left: 65px;
}

.main__avatar {
  margin-bottom: 35px;
}

.personal-info__title {
  margin: 0;
  display: inline-block;
  padding: 10px 35px;
  background-color: #e8c734;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #434244;
}

.personal-info__content {
  margin-top: 35px;
}

.personal-info__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #434244;
}

.personal-info__text_bold {
  font-weight: bold;
}

.personal-experience {
  width: 608px;
  height: 538px;
  display: inline-block;
}

.personal-experience__content {
  margin: 50px 0 60px;
  width: 608px;
  height: 191px;
}

.personal-experience__date {
  margin: 0 0 25px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #9c9da0;
}

.personal-experience__title {
  margin: 0 0 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #434243;
}

.personal-experience__company {
  margin: 0 0 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #434243;
}

.personal-experience__description {
  margin: 0;
  width: 608px;
  height: 58px;
}

.personal-experience__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #9c9da0;
}

.footer {
  height: 45px;
  background-color: #e8c734;
}
