<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>02-base-practice</title>
  </head>
  <body>
    <main>
      <div class="main__post">
        <div class="main__post__header">
          <img
            class="main__post__header__image"
            src="../images/post_image.jpg"
          />
          <a class="main__post__header__image-link"></a>
        </div>
        <div class="main__post__description">
          <p class="main__post__description__adventures">adventures</p>
          <h3 class="main__post__description__title">awesome Gallery Post</h3>
          <p class="main__post__description__date">January 19, 2016</p>
          <button class="main__post__description__button">
            <hr class="main__post__description__button-border" />
            Read more
            <hr class="main__post__description__button-border" />
          </button>
          <div class="main__post__description__comment">
            <a class="main__post__description__coment__link"></a>
            <p class="main__post__description__comment__text">02 Comment</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
